label{
    color: #F5CB5C;
}



.error,.instructions-recipe-error,.ingredients-recipe-error, .add-recipe-error{
    color: #FDFFFC;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

.form-container{
    display: block;
    text-align: center;
}

.button-container{
    display: flex;
    justify-content: center;
    
}

.recipe-name{
    margin-top:16px;
    margin-bottom: 16px;
}

.recipe-servings,.recipe-cooktime{
    margin-top: 16px;
    margin-bottom:20px;
}

.recipe-ingredients{
    margin-top: 16px;
    margin-bottom:10px;
}
