/*@import-normalize;*/
@import 'recipeList.css';
@import 'buttons.css';
@import 'recipe.css';
@import 'ingredientList.css';
@import 'landing.css'


/*
*, *::before, *::after{
    font-family: Arial, Helvetica, sans-serif;
}
*/

html{
    font-size: 20px;
}

body{
    margin: 0;
    padding: 0;
    
}