/*@import-normalize;*/
@import 'recipeList.css';
@import 'buttons.css';
@import 'recipe.css';
@import 'ingredientList.css';
@import 'landing.css';
@import 'addRecipe.css';


h1,h3{
    text-align: center;
    color: #FDFFFC;
}

h2{
    color: #161925;
}

html{
    font-size: 20px;
    background-color: #235789;
}

body{
    margin: 0;
    padding: 0;
    
}

.recipe-list{
    margin-top: -115px;
}

.landing-section{
    display: flex;
    justify-content: center;
}


.landing-form{
    margin-top: 40px;
    background-color: black;
    width: 175px;
    border-radius: 34px;
    height: 250px;
    padding-top: 40px;
    
}
.create-bttn{
    padding-right: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 15px 15px 15px 15px;
    font: 35px;
    font-weight: bold;
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
}


.sign-in-bttn{
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 15px 15px 15px 15px;
    font: 35px;
    font-weight: bold;
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
}

.new-user-bttn{
    margin-top:40px;
    margin-left: 30px;
    font: 35px;
    padding: 15px 15px 15px 15px;
    border-radius: 49%;
    color: white;
    text-decoration: none;
}

.textIn{
    margin-left: 12px;
    margin-top: 14px;
    border-radius: 2%;
}


.footer-container{
    height:100px;
    display: flex;
    justify-content: center;
}

a{
    padding-top: 40px;
    color: #FFFFFF;
    text-decoration: none;
}