.bttn{
    font-size: inherit;
    background: none;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px 20px;
    cursor: pointer;
}

.add-recipe-bttn{
    color: white;
    background-color: #242423;
    border-radius: 29px;
    border: 1px solid red;
    margin-top: 10px;
    margin-left: 110px;
    
}

.add-bttn{
    color: white;
    background-color: #242423;
    border-radius: 29px;
    border: 1px solid #E8EDDF;
}

.edit-bttn{
    color: blue;
}

.delete-bttn{
    color: white;
    border: 2px solid black;
    background-color: lightcoral;
    font-weight: lighter;
    border-radius: 29px;
}