.bttn{
    font-size: inherit;
    background: none;
    font-weight: lighter;
    outline: none;
    border: none;
    border-radius: 5px 20px;
    cursor: pointer;
}

.back-bttn{
    color: #C1292E;;
    background-color: #F1D302;
    border-radius: 30px;
    height: 30px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
}

.add-recipe-bttn{
    color: #161925;
    background-color: #161925;
    border-radius: 29px;
    color: #F1D302;
    text-align: center;
    font-weight: normal;
    margin-top: 30px;
    
}

.add-bttn{
    color: #235789;
    background-color: #F1D302;
    border-radius: 30px;
    height: 30px;
    font-weight: bold;
    
}

.edit-bttn{
    color: blue;
}

.delete-bttn{
    color: white;
    background-color: #C1292E;
    border-radius: 29px;
}