.recipe{
    
    padding: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    background-color: #FDFFFC;
    color: #161925;
}

.recipe:first-child{
    border-top: 1px solid black;
}


.recipe_header{

    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 15px;

}

.recipe_row{
    margin-top: 10px;
    
}

.indented{
    margin-top: 10px;
    margin-left: 20px;
}

.recipe_instructions{

    white-space: pre-wrap;

}
.recipe_label{
    margin-right: 5px;
}


.recipe_value{
    font-weight: normal;
}

.recipe_title{

    margin: 0;
    font-size: 1.5rem;
}

