.recipe-list{

    text-align: center;
    min-height: 100vh;
    width: 100%;

}

h6{
    text-align: center;
    color: #fFFFFf;
}

.add-button-container{


    padding-top: 150px;
    padding-bottom: 50px;
}